body { padding-top: 7em; font-size: 2em !important;}

.price {
	font-weight: bold;
}

.price::after {
	content: '€'
}

.form-control {
	height: 2em !important;
	font-size: 1em !important;
}

.form-control-feedback {
	padding-right: 2.2em;
	padding-top: .1em;
}

.btn {
	font-size: 1em !important;
}

.dropdown-menu {
	font-size: 1em !important; width: 100% !important;
}

.alert {
	margin-bottom: 0px !important;
}
.form-group {
	margin-bottom: 0px !important;
}

.row {
	margin-right: 0px !important;
}
/* span {
	border: 1px solid gray;
} */

.editable-input.editable-has-buttons {
	width:80% !important;
}


      div.special > div[class*="col-"] {
       padding: 0; 
      }
      @media (max-width: 979px) {

        /* Remove any padding from the body */
        body {
          padding-top: 0;
        }
      }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
/* .list-group-item {
	padding: 10px !important;
} */