
			<div class="modal-header">
				<h3 class="modal-title"><span i18n="common.deleteTitle"></span></h3>
			</div>
			<div class="modal-body" stop-event="touchend">
				<span i18n="common.deleteText"></span> <strong>{{tbDeleted.name}}</strong><span i18n="common.questionMark"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="closeModal()"><span i18n="common.close"></span></button>
				<button type="button" class="btn btn-primary" ng-click="deleteItem(tbDeleted)"><span i18n="common.delete"></span></button>
			</div>
