<div ng-class="getTopPadding()"></div>
<nav class="navbar navbar-default navbar-fixed-top">
<div id="updSpinner" class="topcorner" style="display: none" ></div>
<div class="alert alert alert-info" role="alert" ng-click="showHideNav()">
		<div>
		<!-- span ng-click="changeLanguage('gr')">EL</span>
		<span ng-click="changeLanguage('en')">EN</span-->
		
		<span ng-show="!showNav" class="glyphicon glyphicon glyphicon-triangle-bottom"></span>
			<span ng-show="showNav" class="glyphicon glyphicon glyphicon-triangle-top"></span>
		<span i18n="common.total"></span>: <price value="{{totalPrice()}}"></price>, <strong>{{( products | filter:{checked:false} ).length}}</strong> <span i18n="common.items"></span>.
			
		</div>
</div>
<div class="alert alert alert-warning animate-show" ng-show="currentSessionPrice > 0" ng-dblclick="resetCurrentSessionPrice()" ng-swipe-left="resetCurrentSessionPrice()"><span i18n="common.currentSessionPrice"></span>: <price value="{{currentSessionPrice}}"></price>
</div>
<div ng-show="showNav" class="animate-show">
	<form name="newProductForm">
	    <div class="row  no-gutters">
			    <div class="col-xs-8">
					    <input type="text" class="form-control" ng-model="newProductName" data-i18n-attr="{placeholder: 'common.product'}" required/>
					    <i class="gray-icon glyphicon glyphicon-search form-control-feedback"></i> 
			    </div>
			    <div class="col-xs-2">
					    <input type="number" class="form-control" ng-model="newProductPrice" placeholder="" required/> 
					    <i class="gray-icon glyphicon glyphicon-euro form-control-feedback"></i> 
			    </div>
			    <div class="col-xs-2">
			    <select class="form-control" ng-model="newProductQuantity" id="sel1">
				    <option>1</option>
				    <option>2</option>
				    <option>3</option>
				    <option>5</option>
				    <option>6</option>
				    <option>7</option>
				    <option>8</option>
				    <option>9</option>
				    <option>10</option>
				  </select>
					    <i class="gray-icon glyphicon glyphicon-plus-sign form-control-feedback"></i> 
			    </div>
	    </div>
    	<button ng-disabled="newProductForm.$invalid" type="button" class="btn btn-block btn-default" ng-disabled="{{newProductPrice && newProductQuantity}}" ng-click="add()"><span i18n="common.add"></span> <span class="glyphicon glyphicon-shopping-cart"></span></button>
	</form>
</div>
</nav>
<div class="list-group">
	<div class="list-group-item active" ng-click="isToBuyCollapsed = !isToBuyCollapsed"><span i18n="common.toBuy"></span></div>
	<div id="toBuy" collapse="isToBuyCollapsed">
		<div class="list-group-item repeated-item" href="#" ng-repeat="item in products | filter:newProductName | filter:{checked:false} track by $index">
		<product item="item" check="check(item)" edit="edit(item)" onshow="onshow(item)" onhide="onhide()" update="update(item)" edit-id="editId" in-edit-mode="inEditMode"></product>
		</div>
	</div>
</div>
<div class="list-group" ng-show="( products | filter:{checked:true} ).length > 0">
	<div class="list-group-item active" ng-click="isBoughtCollapsed = !isBoughtCollapsed"><span i18n="common.bought"></span></div>
	<div id="bought" collapse="isBoughtCollapsed">
		<div class="list-group-item repeated-item" ng-repeat="item in products | filter:newProductName | filter:{checked:true} track by $index">
		<product item="item" remove="remove(item)" edit="edit(item)" restore="restore(item)" onshow="onshow(item)" onhide="onhide()" update="update(item)" edit-id="editId" in-edit-mode="inEditMode"></product>
		</div>
	</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" ng-if="tempItem">
<div class="alert animate-show alert-info" ng-show="showHistoryAlert">
	<div class="row" ng-if="tempItem.checked">
		<div class="col-xs-10"><span i18n="common.checkedText"></span><strong>: {{tempItem.name}}</strong></div>
		<div class="col-xs-2" ng-click="restore(tempItem,true)">
		  		<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
		</div>
	</div>
	<div class="row" ng-if="!tempItem.checked">
		<div class="col-xs-10"><span i18n="common.uncheckedText"></span><strong>: {{tempItem.name}}</strong></div>
		<div class="col-xs-2" ng-click="check(tempItem,true)">
		  		<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
		</div>
	</div>
</div>
</nav>
<span style="font-size: x-small;">timesCalled: {{timesCalled}}</span>
