<div class="row animate-repeat" >
	<div class="col-xs-8"  ng-class="{'checked-product':item.checked, 'unchecked-product':!item.checked}">
		<div ng-click="edit(item)">{{item.name}}</div>
		<div class="product-info">
			<span i18n="common.total" ></span>:
			<price value="{{item.price}}" ></price>
			, <span i18n="common.quantity"></span>:
			<quantity value="{{item.quantity}}" ></quantity>
		</div>
	</div>
	<div class="col-xs-4 small-padding" style="text-align: center;"  ng-if="!item.checked"  ng-show="item.id != editId">
		<button type="button" class="btn btn-primary full-width" ng-click="check(item)" aria-label="Left Align">
	  		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</button>
	</div>
	<div ng-if="item.checked" ng-show="item.id != editId">
		<div class="col-xs-2 small-padding" style="text-align: center;">
			<button type="button" class="btn btn-danger full-width" ng-click="remove(item)"  aria-label="Left Align">
		  		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button>
		</div>
		<div class="col-xs-2 small-padding" style="text-align: center;">
			<button type="button" class="btn btn-primary full-width" ng-click="restore(item)"  aria-label="Left Align">
		  		<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
			</button>
		</div>
	</div>
</div>
