<div ng-if="!bought">
	<div class="col-xs-8">
		<a href="#" editable-text="item.name">{{item.name || "empty"}}</a>, <a href="#" editable-number="item.price" e-step="any"><price
				value="{{item.price || 0}}" /></a>
	</div>
	<div class="col-xs-4" style="text-align: center;" ng-click="buy(item)">
		<span class="glyphicon glyphicon-ok"></span>
	</div>
</div>
<div ng-if="bought">
	<div class="col-xs-8">
		<del>
			{{item.name}},
			<price value="{{item.price}}" />
		</del>
	</div>
	<div class="col-xs-4" style="text-align: center;" ng-click="restoreItem(item)">
		<span class="glyphicon glyphicon-repeat"></span>
	</div>
</div>