<nav class="navbar navbar-default navbar-fixed-top">
	<!-- <div class="container">
		<span class=" col-xs-9 ">
		<input type="text" class="form-control input-lg"  ng-model="newItem"   bs-options="item as item.name + ' ' + item.price for item  in bought" bs-typeahead placeholder="type a product"/>
		<i class="glyphicon glyphicon-user form-control-feedback"></i>
		</span>
		<button type="button" class="col-xs-3 btn btn-lg btn-default" value="Add" ng-click="add()">Add</button>
	</div> -->
	<div class="form-group has-feedback">
    <input type="text" class="form-control" ng-model="newItem"   bs-options="item as item.name for item  in bought" bs-typeahead placeholder="type a product"/>
    <i class="glyphicon glyphicon-search form-control-feedback"></i>
    <button type="button" class="btn btn-block btn-default" value="Add" ng-click="add()">Add <span class="glyphicon glyphicon-plus"></span></button>
	
</div>
<div class="alert alert alert-info" role="alert">
	<i class="icon-search"></i>Total Price:<price value="{{totalPrice()}}"/></strong></span> for <strong>{{toBuy.length}}</strong> items.
</div>
</nav>


<ul class="list-group">
	<li class="list-group-item active">To Buy</li>
	<li class="list-group-item row" href="#" ng-repeat="item in toBuy">
	<product item="item" ng-click="buy(item)"></product>
	</li>
</ul>

<ul class="list-group">
	<li class="list-group-item active">Bought</li>
	<li class="list-group-item row" ng-repeat="item in bought ">
		<product item="item" bought="true" ng-click="restoreItem(item)"></product>
	</li>
</ul>
