<nav class="navbar navbar-default navbar-fixed-top">
<div>
    <!-- <input type="text" class="form-control" ng-model="newItem"   bs-options="item as item.name for item  in bought" bs-typeahead placeholder="type a product"/> -->
    <div class="row  no-gutters">
		    <div class="col-xs-8">
				    <input type="text" class="form-control" ng-model="newProductName" placeholder="search/add product"/>
				    <i class="glyphicon glyphicon-search form-control-feedback"></i> 
		    </div>
		    <div class="col-xs-4">
				    <input type="number" class="form-control" ng-model="newProductPrice" placeholder="price"/> 
				    <i class="glyphicon glyphicon-euro form-control-feedback"></i> 
		    </div>
    </div>
    <button type="button" class="btn btn-block btn-default" value="Add" ng-click="add()">Add <span class="glyphicon glyphicon-plus"></span></button>
	
</div>
<div class="alert alert alert-info" role="alert">
	<i class="icon-search"></i>Total Price:<price value="{{totalPrice()}}"/></strong></span> for <strong>{{toBuy.length}}</strong> items.
</div>
</nav>

<div class="list-group">
	<div class="list-group-item active">To Buy</div>
	<div class="list-group-item repeated-item" href="#" ng-repeat="item in toBuy | filter:newProductName">
	<product item="item" buy="buy(item)"></product>
	</div>
</div>
<div class="list-group">
	<div class="list-group-item active">Bought</div>
	<div class="list-group-item repeated-item" ng-repeat="item in bought | filter:newProductName">
	<product item="item" bought="true" query="query" remove="remove(item)" restore="restore(item)"></product>
	</div>
</div>

